{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div  class="col-md-8 col-sm-10 col-12">
      <h2 class="display-4">Hello {{ user.student.full_name }}</h2>
      <h3>Join a new Clasroom!</h3>
      <br>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Join Classroom</button>
      </form>
    </div>
  </div>
{% endblock %}
