{% extends 'accounts/base.html' %}

{% block content %}
  <div>
    <div class="container">
      <br>
      {% if user.is_teacher %}
        <p class="display-4">Hello {{user.teacher.full_name}}</p>
        <a href="{% url 'classroom_create' %}" class="mt-3 btn btn-primary">Make New Classroom</a>
      {% elif user.is_student %}
        <p class="display-4">Hello {{user.student.full_name}}</p>
        <a href="{% url 'classroom_join' %}" class="btn btn-primary">Join New Classroom</a>
      {% endif %}
        <br>
      {% if not classrooms %}
        <p>You dont have any classrooms!</p>
      {% else %}
          <br>
          <ul class="list-group">
            {% for classroom in classrooms %}
              <a href="{% url 'classroom_detail' classroom.pk %}" class="list-group-item list-group-item-action flex-column align-items-">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 ">{{classroom.classroom_name}}</h5>
                  <p id="classroom_uuid">{{classroom.small_uuid}}</p>
                  
                </div>
              </a>
            {% endfor %}
              </ul>

      {% endif %}
    </div>
  </div>
{% endblock %}
